@import url('../vendor/fonts.css');

body {
    font-family: 'Montserrat', sans-serif; /* Шрифт для всего документа */
    margin: 0; 
    padding: 0;
    background-color: #f0f0f0; /* Цвет фона страницы */
}

header {
    display: flex; /* Используем flexbox для расположения элементов в header */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Отступы в заголовке */
    background-color: #19334d; /* Цвет фона заголовка */
    color: #D3D3D3; /* Цвет текста в заголовке */
}

.logo img {
    width: 50px; /* Ширина логотипа */
    cursor: pointer; /* Курсор в виде указателя при наведении на логотип */
}

.user-icon img{
    width: 50px; /* Ширина логотипа */
}

h1 {
    margin: 0 20px; /* Отступы заголовка */
}

.container {
    width: 80%; /* Ширина контейнера */
    margin: 10px auto;/* Центрируем контейнер */

}

#search-input {
    width: 50%; /* Уменьшаем ширину поля ввода до 50% контейнера */
    padding: 10px; /* Внутренние отступы */
    font-size: 16px; /* Размер шрифта */
    margin-bottom: 10px; /* Отступ снизу */
    display: block; /* Делаем поле ввода блочным элементом для центрирования */
    margin-left: auto; /* Центрируем поле ввода */
    margin-right: auto; /* Центрируем поле ввода */
}

.suggestions {
    background: white; /* Цвет фона для подсказок */
    position: absolute; /* Позиционирование для отображения над другими элементами */
    width: 50%; /* Ширина подсказок соответствует ширине поля ввода */
    z-index: 10; /* Уровень наложения */
    left: 50%; /* Позиционируем по центру */
    transform: translateX(-50%); /* Центрируем подсказки относительно их ширины */
}

.suggestion-item {
    padding: 10px; /* Внутренние отступы для элемента подсказки */
    cursor: pointer; /* Курсор при наведении */
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении на элемент подсказки */
}

.movie-section {
    margin-top: 20px; /* Отступ сверху для секций фильма и рекомендаций */
}

.hidden {
    display: none; /* Скрытие элемента */
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.movie-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#found-movie.movie-section{
    display: flex;
}

#recommendations.movie-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-left: -100px;
}

#popular-movies.movie-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-left: -135px;
}

footer {
    background-color: #19334d;
    color: white;
    text-align: left;
    padding: 10px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    height: 50px; /* Измените по своему усмотрению */
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Открывается поверх */
    z-index: 1; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Прокрутка при необходимости */
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Центрирование */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Ширина модального окна */
    max-width: 600px; /* Максимальная ширина */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для эффекта поднятия */
    text-align: center; /* Центрирование всего текста внутри модального окна */
    justify-content: center;
    align-items: center;
}

.modal-content img {
    width: 50%; /* Ширина постера 50% от ширины модального окна */
    height: auto; /* Высота автоматически подстраивается */
    border-radius: 8px; /* Закругленные углы постера */
    margin: 0 auto; /* Центрирование изображения */
    display: block; /* Отображение как блочный элемент для центрирования */
}

.modal-info {
    margin-top: 15px; /* Отступ сверху */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



